<div style="background-color: #6b7b91;">
    <a href="/"><img src="images/perl101-header.png" height="80" width="600"
        alt="Perl 101: Things Every Perl Programmer Should Know." border="0"></a>
</div>